section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://www.linkedin.com/in/tejasv-agarwal-91a838136/')
      div(class="glyph-icon flaticon-linkedin")
    a(href='https://github.com/tejasvx')
      div(class="glyph-icon flaticon-github")

  hr.bar

  a( class='biglink' href='mailto:devtejasv1996@gmail.com') devtejasv1996@gmail.com
