#particles-js
  #container.logo
  header#home
    nav

      a(href='#about-me') About Me
      a(href='#Blog') Blog
      a(href='#Details') Contact Me


    h1
      span Tejasv Agarwal
    p.kicker Software Engineer // Developer // Designer
